.form {
  height: 30rem;
  width: 25rem;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding:5rem;
  align-items: center;
  gap: 3rem;
  
  border-radius: 1rem;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  border-bottom:0.5px solid #878484;
  margin-top: 0.2rem;
  /* margin-top: 1rem; */
  padding: 0.3rem;
}
/* inputContainer,
inputContainer::-webkit-inputContainer-placeholder{
    font-size: 25px;
    opacity: 0.5;
} */
/* .inputContainer,
.inputContainer::placeholder{
  font-size: 25px;
} */
/* .inputBox, */
/* .inputBox::-webkit-input-placeholder { */
    /* font: 1.25rem/3 sans-serif; */
    /* font-size: 20px; */
    
/* } */
  .inputAndErrorContainer {
    width: 100%;
    /* margin-left: 4rem; */
  }
.passwordInput {
  width: 90%;
}
.icon{
    color: #5c6bc0;
    cursor: pointer;
}
 .errorMessage {
    color: rgb(252, 88, 88);
  }
.btmsing{
    width: 100%;
  background-color:#1769aa;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color:  #f8f8ff;
  cursor: pointer;
  font-size: large;
  margin-top:2rem;
}
.btmsing:hover{
    background-color: #5c6bc0;;
}
.massges{
  font-size: 83%; 
}
.logIn{
  font-size:105% ;
  color:#5c6bc0;
  font-weight: 550;
  cursor: pointer;
}